/* Animating the logo with keyframes */
@keyframes grow {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    animation: grow 5s;
}

/* Using the Poppins font in the body and changing background image and color */
body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* Using flex for header elements */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Using flex for the nav_links class */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* Styling links so that they have the same color even after they have been visited */
a:link, a:visited {
    color: #0000EE;
}

/* Styling ONLY those header elements that are direct children of a card class */
.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}

div.card {
    border-radius: 50px 50px 0 0;
}

/* Styling the card class appropriately using flex properties */

.card {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Styling the pricing class appropriately using flex properties */

.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* Styling the images in the gallery class */
.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* Styling the gallery class appropriately using flex properties */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* These specifications are for when the screen-size is greater than 900px */
@media screen and (min-width: 900px) {
    /* Editing the flex properties for the header tag and the nav_links class */
    header, .nav_links {
        flex-direction: row;
        justify-content: space-between;
    }
    /* Editing the flex properties for the pricing and card classes */
    .pricing, .card {
        flex-basis: 275px;
    }
    /* Making the first header always remain visible at the top of the screen */
    body > header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    body {
        padding-top: 100px;
    }

}

/* Ensuring the logo should does not appear animated if prefers-reduced-motion is selected */
@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

/* These specifications are for when the page is printed in portrait mode. */
@media print and (orientation: portrait) {
    /* Changing body font to Arial with a backup value of Helvetica */
    body {
        font-family: Arial, Helvetica;
        background-image: none; /* removing background image */
    }
    /* Spacing out the nav links evenly */
    .nav_links {
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav {
        width: 100%;
    }
    /* Aligning the pricing class elements along the bottom. */
    .pricing {
        align-items: flex-end;
        flex-wrap: nowrap;
    }
    /* Styling the card elements */
    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }
    /* Hiding the gallery */
    #gallery, .gallery {
        display: none;
    }
    /* Adding the thumbs up emojis */
    main ul li:nth-child(2)::after {
        content: '👍';
    }
}
